[Desktop Entry]
Name=Goblin
Exec=goblin %u
Icon=goblin
Type=Application
Categories=Finance
MimeType=application/x-slatepack;text/plain;x-scheme-handler/goblin;